# docker app settings
RAILS_APP_USER=rails
RAILS_APP_GROUP=rails
RAILS_APP_UID=5001
RAILS_APP_GID=5001
RAILS_APP_DIR=/opt/app

# app vars
LISTEN_ON=0.0.0.0:8010
SECRET_TOKEN=$(rake secret)

# database vars
POSTGRES_USER=app
POSTGRES_PASSWORD=CHANGEME
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres/app

# redis cache url
CACHE_URL=redis://redis:6379/0

# sidekiq job worker url
JOB_WORKER_URL=redis://redis:6379/0

# unicorn vars
WORKER_PROCESSES=1